.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .button-container {
    display: flex;
    align-items: center;
  }
  
  .my-paragraf {
    padding: 10px;
    margin-right: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .count {
    margin: 0;
    font-size: 24px;
  }
  
  button {
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #e2e2e2;
  }
  
  .decrement-btn {
    background-color: #ff6b6b;
    color: white;
  }
  
  .restart-btn {
    background-color: #45aaf2;
    color: white;
  }
  
  .increment-btn {
    background-color: #4cd137;
    color: white;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  